# Pandas - Práctica

In [1]:
import numpy as np
import pandas as pd

## Calentamiento

Considera el siguiente diccionario y lista.


```
data = {
     'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
     'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
     'visits': np.random.randint(8, size=10),
     'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

In [2]:
data = {
     'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
     'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
     'visits': np.random.randint(8, size=10),
     'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

1. Crea un DataFrame con el diccionario *data* que tenga como índices los valores de la lista *labels*.

In [3]:
col = ['animal', 'age', 'visits', 'priority']
df_animals = pd.DataFrame(data, index= labels, columns = col)
df_animals

  animal  age  visits priority
a    cat  2.5       6      yes
b    cat  3.0       0      yes
c  snake  0.5       6       no
d    dog  NaN       0      yes
e    dog  5.0       5       no
f    cat  2.0       3       no
g  snake  4.5       7       no
h    cat  NaN       5      yes
i    dog  7.0       6       no
j    dog  3.0       3       no

2. Muestra una descripción o información básica acerca del DataFrame y sus datos. (Pista: existe una función que lo muestra).

In [11]:
df_animals.dtypes

animal       object
age         float64
visits        int64
priority     object
dtype: object

In [16]:
df_animals.groupby("animal").describe()

         age                                           visits                 \
       count mean       std  min   25%  50%   75%  max  count mean       std
animal
cat      3.0  2.5  0.500000  2.0  2.25  2.5  2.75  3.0    4.0  3.5  2.645751
dog      3.0  5.0  2.000000  3.0  4.00  5.0  6.00  7.0    4.0  3.5  2.645751
snake    2.0  2.5  2.828427  0.5  1.50  2.5  3.50  4.5    2.0  6.5  0.707107


        min   25%  50%   75%  max
animal
cat     0.0  2.25  4.0  5.25  6.0
dog     0.0  2.25  4.0  5.25  6.0
snake   6.0  6.25  6.5  6.75  7.0

In [17]:
df_animals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

4. Regresa las primeras 3 filas del DataFrame

In [19]:
print(df_animals.iloc[0:3])

  animal  age  visits priority
a    cat  2.5       6      yes
b    cat  3.0       0      yes
c  snake  0.5       6       no

4. Cambia el nombre de las columnas por:


*   Animal
*   Edad
*   Visitas
*   Prioridad

In [20]:
df_animals.columns = ['Animal', 'Age', 'Visits', 'Priority']
df_animals

  Animal  Age  Visits Priority
a    cat  2.5       6      yes
b    cat  3.0       0      yes
c  snake  0.5       6       no
d    dog  NaN       0      yes
e    dog  5.0       5       no
f    cat  2.0       3       no
g  snake  4.5       7       no
h    cat  NaN       5      yes
i    dog  7.0       6       no
j    dog  3.0       3       no

5. Muestra solo la columna "animal" and "age". ¿Esto es posible? Si no es posible, ¿qué debería ser?

In [23]:
df_animals.columns

Index(['Animal', 'Age', 'Visits', 'Priority'], dtype='object')

6. Selecciona solo las filas donde el número de visitas sea mayor que 3.

In [25]:
df_animals.query('Visits > 3')

  Animal  Age  Visits Priority
a    cat  2.5       6      yes
c  snake  0.5       6       no
e    dog  5.0       5       no
g  snake  4.5       7       no
h    cat  NaN       5      yes
i    dog  7.0       6       no

7. ¿Cuáles son las filas donde la edad es NaN?

In [27]:
df_animals.query('Age == "NaN"')

  Animal  Age  Visits Priority
d    dog  NaN       0      yes
h    cat  NaN       5      yes

8. ¿Qué animales tienen una edad entre 2 y 4 años?

In [28]:
df_animals.query("2 <= Age <= 4")

  Animal  Age  Visits Priority
a    cat  2.5       6      yes
b    cat  3.0       0      yes
f    cat  2.0       3       no
j    dog  3.0       3       no

9. ¿Cuál es el total de todas las visitas?

In [33]:
total = df_animals['Visits'].sum()
print (total)

41

10. Tenemos diferentes animales, ¿cuál es el número total de cada tipo de animal?

In [36]:
total_animales = df_animals["Animal"]
total_animales.value_counts()

dog      4
cat      4
snake    2
Name: Animal, dtype: int64

12. Cambia los valores de la columna Prioridad por valores booleanos, es decir:
'yes' => True 
'no' => False

In [38]:
df_animals = df_animals.replace({'yes': True, 'no': False})

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: Prioridad, dtype: object

13. Ordena el DataFrame por la Edad en orden descendiente y después por la columna Visitas en orden ascendente.

In [41]:
df_animals.sort_values(by="Age", ascending=False)

  Animal  Age  Visits  Priority
i    dog  7.0       6     False
e    dog  5.0       5     False
g  snake  4.5       7     False
b    cat  3.0       0      True
j    dog  3.0       3     False
a    cat  2.5       6      True
f    cat  2.0       3     False
c  snake  0.5       6     False
d    dog  NaN       0      True
h    cat  NaN       5      True

14. Para cada tipo de animal y cada número de visitas encuentra la edad promedio. 
(Pista: Si haz utilizado tablas pivotes, cada fila es un animal, cada columna es el número de visitas y los valores son la media de la edad).

In [42]:
df_animals.fillna(df_animals.mean())

  Animal     Age  Visits  Priority
a    cat  2.5000       6      True
b    cat  3.0000       0      True
c  snake  0.5000       6     False
d    dog  3.4375       0      True
e    dog  5.0000       5     False
f    cat  2.0000       3     False
g  snake  4.5000       7     False
h    cat  3.4375       5      True
i    dog  7.0000       6     False
j    dog  3.0000       3     False

## Ejercicio Práctico

Descargue los archivos de: https://bit.ly/2L2AvyZ

### 1 Archivo *movies*

1. Crear el Dataframe  

2. ¿Conocemos los datos?
    - Columnas
    - Tamaño 
    - Tipos de datos

3. Renombrar las columnas ID, Titulo, Genero

4. ¿Hay Valores nulos (NaN) en las columnas?

5. Regresa algunas secciones
    - Segunda Columna ¿Acaso los valores son únicos?
    - Registro número 40

### 2. Archivo ratings
1. ¿Conocemos los datos? 
    - ¿Entendemos todos?

2. Obtengamos los estadísticos básicos de las calificaciones 

3. Cambiemos la escala de las calificaciones de un máximo de 5 a 100

4. ¿Cuántas calificaciones tiene cada película? ¿Cuál es la calificación media de cada uno? 
    Nota: agrupen las calificaciones y cuenten las clasificaciones 

5. ¿cuáles son las películas son las 20 mejores  y peores según las calificaciones? ¿Cuáles son las más calificadas?

### 3. Pongamonos serios:

1. La columna de genero en el DataFrame tiene divisiones, ¿podemos poner cada genero en una columna? 
2. Concatena las nuevas columnas y quita la columna vieja

## Ejercicios Extra
- #3de3
- [The Happiness Report](https://runestone.academy/runestone/books/published/httlads/Happiness/introduction.html)
- [Detecting COVID-19 using Deep Learning](https://towardsdatascience.com/detecting-covid-19-using-deep-learning-262956b6f981)